[submodule "generator"]
	path = generator
	url = https://github.com/snaxgameengine/generator
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/snaxgameengine/vcpkg.git
[submodule "HBAOPlus"]
	path = HBAOPlus
	url = https://github.com/snaxgameengine/HBAOPlus.git
